@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}



<main class="form-signin">    
    <section class="main-content">
        <div class="container">
            <h1 style="text-align:center">@ViewData["Title"]</h1>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class=mt-1>
                            <label asp-for="Input.FirstName" class="sr-only">Имя</label>
                            <input asp-for="Input.FirstName" type="text" class="form-control form-control-lg" placeholder="Имя" required="" autofocus="">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class=mt-1>
                            <label asp-for="Input.LastName" class="sr-only">Фамилия</label>
                            <input asp-for="Input.LastName" type="text" class="form-control form-control-lg" placeholder="Фамилия" required="" autofocus="">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class=mt-1>
                            <label asp-for="Input.Email" class="sr-only">Адрес эл. почты</label>
                            <input asp-for="Input.Email" type="email" class="form-control form-control-lg" placeholder="Адрес эл. почты" required="" autofocus="">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class=mt-1>
                            <label asp-for="Input.Password" class="sr-only">Пароль</label>
                            <input asp-for="Input.Password" type="password" class="form-control form-control-lg" placeholder="Пароль" required="">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class=mt-1>
                            <label asp-for="Input.ConfirmPassword" class="sr-only">Повторите пароль</label>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Повторите пароль" required="">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <button class="btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
