@page "{id}"
@model GeekPC.Pages.AddInCartModel
@{
}

<h1 style="
    text-align: center;">Товар @Model.Item.Name добавлен в корзину</h1>
<div style="text-align: center"><a href="/Cart"><img style="width: 120px;" src="~/img/other/addcart.jpg"/></a></div>