@page
@model GeekPC.Pages.DeliveryModel
@{
    ViewData["Title"] = "Доставка";
}

<section class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 delivery-1">
                <h1 id="pick">Доставка и оплата</h1>
                <a href="#pick">Самовывоз</a>
                <a href="#dostavka">Доставка</a>                      
            </div>
        </div>
            <div class="row justify-content-center">
                <div class="col-10 delivery-2">
                    <h3>Самовывоз товара</h3>
                    <p>Мы работаем с 9 до 18 часов каждый день, без выходных</p> 
                    <p>Наше местоположение на карте:</p>
                    <p>г. Набережные Челны, ул. Шамиля Усманова, 89</p>                     
                </div>
            </div>
               <div class="row justify-content-center">
                   <div class="col-10 delivery-3">
                       <div style="position:relative;overflow:hidden;border-radius: 5mm;"><a href="https://yandex.ru/maps/236/naberezhnie-chelny/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Набережные Челны</a><a href="https://yandex.ru/maps/236/naberezhnie-chelny/house/ulitsa_shamilya_usmanova_89/YUsYcgdiQUUOQFtvfXt0dH1gYQ==/?ll=52.402809%2C55.755135&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=16" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Шамиля Усманова, 89 на карте Набережных Челнов — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUJUYGUcA" width="100%" height="540px" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                   </div>
               </div>
                   <div class="row justify-content-center">
                       <div class="col-10 delivery-4">
                           <h3 id="dostavka">Почтой по России, странам СНГ и по всему миру (курьерской службой EMS)</h3>
                           <p>Отправка по России осуществляется только в случаях отсутствия возможности доставки СДЭК в вашем регионе. Стоимость доставки рассчитывается индивидуально:</p>  
                           <ul>
                               <li>По России: от 600 руб.</li>
                               <li>в Азербайджан, Грузию, Молдову, Таджикистан, Туркменистан, Узбекистан: от 2350 руб.</li>
                               <li>Чтобы узнать информацию по доставке в другие страны мира – напишите, пожалуйста, нам.</li>
                           </ul>                    
                       </div>
                   </div>
    </div>
</section>